/*setup documento*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* impostazione background e logo header*/
header {
    background-color: skyblue;
    background-image: url(../img/pattern.png);
    background-size: 350px;
    background-repeat: repeat;
}
header img {
    width: 150px;
    padding: 10px;
}
/* creazione titolo*/
h1 {
    font-style: serif;
    padding: 20px;
    margin: -5px;
    text-align: left;
    font-size: 50px;
}

h3 {
    padding: -50px;
   color: gray;
   text-align: left;
   margin: 10px;
}

h4 {
    color: gray;
    text-align: left;
    margin: 10px;
}

/* aggiunto dimensioni font della descrizione delle immagini*/
p.description {
    font-size: 10px;
    margin: 10px;
}

/* modificehe di stile al testo*/
.info {
    margin: 10px;
    padding: 15px;
    font-size: 25px;
}

li.elenco {
    font-size: 25px;
    margin: 35px;
}


/* stile tabella*/
table, th, td {
    border: 1px solid transparent;
    border-collapse: collapse;
    margin: 10px;
    font-size: 25px;
    text-align: justify;
   
    
}
td.color {
    background-color: aqua;
    background-size: 300px 100px;
    
}

th.colonna {
    font-family: serif; color: white;
    background-color: blue;
}

/* stile paragrafo 2*/

#paragrafo {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.bg_monitor {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 200px;
    margin: 10px;
}

.monitor {
    color: white;
}

.bg_graph {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 200px;
    margin: 10px;
}
