/*setup documento*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* impostazione background e logo header*/
header {
    background-color: skyblue;
    background-image: url(../img/pattern.png);
    background-size: 350px;
    background-repeat: repeat;
}
header img {
    width: 150px;
    padding: 10px;
}
/* creazione titolo*/
h1 {
    font-style: serif;
    padding: 20px;
    margin: -5px;
    text-align: left;
    font-size: 50px;
}

h3 {
    padding: -50px;
   color: gray;
   text-align: left;
}

h4 {
    color: gray;
    text-align: left;
}

/* aggiunto dimensioni font della descrizione delle immagini*/
p.description {
    font-size: 10px;
}